﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Battleship</title>
    <link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/panel.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/game.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/board.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/fleetpanel.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/builderpanel.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/lobbypanel.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/targettingpanel.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/chatpanel.css")" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="@Url.Content("~/Content/js/lib/jquery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Content/js/lib/knockout-3.3.0.js")"></script>
    <script src="@Url.Content("~/Content/js/lib/underscore.min.js")"></script>
    <script src="@Url.Content("~/Content/js/lib/bootstrap.min.js")"></script>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Battleship</a>
            </div>

            <ul class="nav navbar-nav">
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="https://bitbucket.org/farmas/battleship" target="_blank">Source</a>
                </li>
                <li>
                    <a href="http://federicosilva.net/" target="_blank">Blog</a>
                </li>
            </ul>

            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Auth", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <p class="navbar-text navbar-right">
                        @User.Identity.Name &nbsp;&nbsp;
                        <button class="btn btn-danger" type="submit">Sign Out</button>
                    </p>
                }

            }
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
