﻿<script src="@Url.Content("~/Content/js/lib/jquery.signalR-2.1.2.min.js")"></script>
<script src="signalr/hubs"></script>

<script>
    window.username = "@User.Identity.Name";
</script>

<script data-main="Content/js/Battleship/Game" src="Content/js/lib/require.js"></script>

<div class="battleship-game"></div>
