﻿<script data-main="Content/js/Battleship/Demo" src="Content/js/lib/require.js"></script>

<div class="login-form">
    @using (Html.BeginForm("ExternalLogin", "Auth"))
    {
        @Html.AntiForgeryToken()

        <h3>Challenge a friend to a game of Battleship</h3>
        <div>
            <button type="submit" class="btn btn-primary" id="Google" name="provider" value="Google" title="Authenticate using your Google account">
                <i class="fa fa-google-plus fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sign in&nbsp;&nbsp;&nbsp;&nbsp;
            </button>
        </div>
    }
</div>

<div class="battleship-demo"></div>
