﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 50px;">
    <h3>About</h3>
    <p>
        A classic game of Battleship built with SignalR to support concurrent users playing the game. This is a personal project used to learn SignalR and Owin.
    </p>
    <br />

    <h3>Technologies</h3>
    <p>
        <ul>
            <li>Typescript</li>
            <li>Owin external authentication (Google provider)</li>
            <li>SignalR</li>
            <li>KnockoutJS</li>
        </ul>
    </p>
</div>
    