﻿.board {
    border-collapse: collapse;
    text-align: center;
}

    .board .water {
        background-color: #D7F1FA;
    }

    .board .cell {
        border: 1px solid black;
    }

        .board .cell .cell-content {
            position: relative;
        }

        .board .cell,
        .board .cell .layer2,
        .board .cell .layer1 {
            width: 30px;
            height: 30px;
            margin: 0;
            padding: 0;
        }

            .board .cell.shot .layer1 {
                background-image: url('/Content/images/shot.png');
            }

            .board .cell .layer2 {
                position: absolute;
                top: 0;
                left: 0;
            }

            .board .cell.selected-trail .layer2 {
                background-color: rgba(35, 127, 241, 0.2);
            }

            .board .cell.selected-trail.selected .layer2 {
                background-color: rgba(35, 127, 241, 0.6);
            }

            .board .cell.selected-enemy-trail .layer2 {
                background-color: rgba(250, 62, 66, 0.2);
            }

            .board .cell.selected-enemy-trail.selected-enemy .layer2 {
                background-color: rgba(250, 62, 66, 0.6);
            }
