﻿.fleet-builder {
}

.builder-panel {
    position: relative;
    top: 20px;
}

.fleet-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 350px;
}

    .fleet-list li {
        width: 400px;
    }

        .fleet-list li:hover {
            background-color: rgba(35, 127, 241, 0.2);
        }

        .fleet-list li.selected {
            background-color: rgba(35, 127, 241, 0.6);
        }

        .fleet-list li.committed {
            opacity: 0.5;
        }

        .fleet-list li div {
            padding-top: 40px;
            width: 140px;
        }

        .fleet-list li img {
            float: right;
            padding-right: 40px;
        }
