﻿.chat-panel-title {
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.chat-panel-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid;
    height: 341px;
    padding: 0 5px;
    overflow-y: scroll;
}

.chat-panel-entry {
    /*margin-left: 15px;*/
    border-radius: 5px;
    background-color: rgba(35, 127, 241, 0.2);
    padding: 5px;
    margin-top: 5px;
}

    .chat-panel-entry.me {
        /*margin-left: 15px;*/
        border-radius: 5px;
        background-color: rgba(35, 127, 241, 0.6);
        padding: 5px;
        margin-top: 5px;
    }

.chat-panel-user {
    font-style: italic;
}

.chat-panel-button {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

.chat-panel-message {
    margin-left: 10px;
}
