﻿.fleet-panel {
    position: relative;
    overflow: hidden;
}

    .fleet-panel .fleet-panel-title {
        text-align: center;
        font-weight: bold;
        font-size: large;
        position: absolute;
        top: -30px;
        left: 100px;
        transition: 0.5s top;
    }

    .fleet-panel.theirTurn .fleet-panel-title {
        top: 0;
        transition: 0.5s top;
    }

.fleet-panel-board {
    margin-top: 25px;
}

.fleet-panel-controls {
    width: 404px;
}

    .fleet-panel-controls:first-child {
        position: absolute;
        top: -25px;
    }

.fleet-panel-stats {
    width: 33.3%;
    float: left;
    text-align: center;
}

    .fleet-panel-stats:first-child {
        text-align: left;
    }

    .fleet-panel-stats:last-child {
        text-align: right;
    }
