﻿.battleship-game {
    overflow: hidden;
    white-space: nowrap;
}

.login-form {
    width: 500px;
    margin: 100px auto 50px auto;
    text-align: center;
}

    .login-form div {
        margin-top: 25px;
    }

.battleship-demo {
    width: 400px;
    margin: 0 auto;
}

.lobby {
    z-index: 3;
}
