﻿.lobby-panel-title {
    font-weight: bold;
    font-size: large;
}

.lobby-panel-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lobby-panel-user {
    position: relative;
    border-radius: 5px;
}

    .lobby-panel-user.disabled {
        opacity: 0.7;
    }

        .lobby-panel-user.disabled:hover {
            cursor: default;
        }

    .lobby-panel-user:hover {
        cursor: pointer;
        background-color: rgba(35, 127, 241, 0.2);
    }

    .lobby-panel-user.selected {
        background-color: rgba(35, 127, 241, 0.6);
    }

    .lobby-panel-user i {
        position: absolute;
        top: 3px;
    }

    .lobby-panel-user span:first-of-type {
        margin-left: 20px;
    }
