﻿.game-panel-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.game-panel {
    margin: 0 10px;
    width: 404px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: left 0.5s, opacity 0.5s;
    white-space: normal;
}

    .game-panel.fade {
        opacity: 0;
    }

    .game-panel.fade-left {
        left: -404px;
        z-index: -1;
        opacity: 0;
        transition: 0.5s;
    }

    .game-panel.fade-right {
        left: +404px;
        z-index: -1;
        opacity: 0;
        transition: 0.5s;
    }

    .game-panel.show-left {
        left: -404px;
        opacity: 1;
        transition: 0.5s;
    }

    .game-panel.show-right {
        left: +404px;
        opacity: 1;
        transition: 0.5s;
    }

    .game-panel.game-panel-small {
        width: 150px;
    }

    .game-panel.game-panel-medium {
        width: 300px;
    }

.game-panel-content {
    height: 380px;
}

.game-panel-controls {
    margin: 30px auto 0;
    position: relative;
}

.game-panel-shield {
    position: absolute;
    top: 0;
    left: 0;
}

.game-panel.locked .game-panel-shield {
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    top: -400px;
    width: 150px;
    height: 100%;
}
